*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgba(13, 30, 50);
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
header {
  color: #fff;
  width: 100%;
  z-index: 99999;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  transition: top 0.3s;
}
#nav {
  position: fixed;
  top: 0;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-logo img {
  width: 52px;
  height: 52px;
  padding: 0 0 0 10px;
}
.left-content ul {
  list-style-type: none;
  display: flex;
}
.left-content ul li {
  margin-left: 10px;
  margin-right: 10px;
}
.right-content a {
  margin-left: 10px;
  margin-right: 10px;
}
.nav-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-tab > button {
  border: none;
  padding: 17px;
  outline: 0;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.nav-tab > button:hover {
  background-color: rgba(219, 73, 210, 0.8);
}
.left-content .active {
  background-color: rgb(219, 40, 207);
}
.icons img {
  width: 28px;
  height: 28px;
}
.container {
  position: relative;
  top: 72px;
  width: 80%;
  left: 10%;
  right: 10%;
  box-sizing: border-box;
}
.intro {
  color: white;
  font-size: 54px;
}
.sub-head {
  font-size: 32px;
  outline: rgba(13, 30, 50, 0.6);
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.subline {
  color: #e73c7e;
  -webkit-text-stroke: 1px white;
  font-size: 32px !important;
}
.presonal-intro {
  color: #fff;
  margin-top: 36px;
  position: relative;
  left: 75%;
  display: inline-table;
  z-index: 999999999999999;
}
.presonal-intro .line {
  font-size: 44px;
}
.presonal-intro .d-name {
  font-size: 54px;
}
.description {
  font-size: 16px;
  width: 27%;
  position: relative;
  left: 75%;
  top: 16px;
  color: #fff;
}
.code-img {
  position: relative;
}
.code-img img {
  width: 450px;
  position: absolute;
  z-index: 0;
}
.home-img {
  position: relative;
}
.home-img img {
  width: 386px;
  height: 200px;
  border-radius: 5px;
  /* box-shadow: 9px 10px #188888; */
}
.home-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 385px;
  height: 193px;
  position: absolute;
  bottom: 18px;
  z-index: -1;
  left: -10px;
  border-radius: 5px;
}
.second,
.third,
.contact {
  position: relative;
  top: 72px;
}
.skill-section .heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 35%;
}
.heading div {
  position: relative;
  top: 18%;
}
.heading .head {
  font-size: 32px;
  padding: 10px;
  background: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

.heading .desc {
  margin-top: 8px;
  font-size: 18px;
}
.skill-content {
  display: flex;
  flex-wrap: wrap;
}
.skill-content .card {
  flex-grow: 1;
  width: 33%;
  height: 208px;
}
.card div {
  text-align: center;
}
.card img {
  width: 160px;
  height: 129px;
  background-color: #23a6d5;
  padding: 20px;
  border-radius: 36px;
  box-shadow: 6px 4px 8px grey;
}
.card img:hover {
  box-shadow: none;
  width: 156px;
  height: 125px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition: width 0.3s, height 0.3s;
}
.about-us {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 35%;
}
.about-us .heading,
.contact .heading {
  font-size: 32px;
  padding: 10px;
  background: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  top: 18%;
}
.inner-content {
  display: flex;
  background-color: rgb(31, 109, 145);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 0px 4px 4px #23a6d5;
}
.me blockquote {
  margin: 10px 0 10px 25px;
}
.me em {
  float: right;
}
.per-img {
  background-color: #fff;
  border-radius: 92px;
  border: 2px solid darkslategrey;
  padding: 6px;
  height: 100%;
}
.pre-img img {
  width: 154px;
  height: 150px;
}
.contact {
  margin-top: 38px;
}
.contact .heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 15%;
}
.details {
  display: flex;
  color: #fff;
}
.details > div {
  width: 50%;
}
.details a {
  text-decoration: none;
  color: #fff;
}
.details a:hover {
  color: #e73c7e;
}
.icons {
  width: 32px;
  height: 23px;
}
.dm > div {
  margin: 0 0 14px 0;
}
.handtool:hover {
  color: rgb(219, 40, 207);
}
.handtool::before {
  content: "\1F449";
  margin-right: 5px;
}
footer {
  position: relative;
  bottom: -180px;
  text-align: center;
  background-color: #fff;
}
.line-lat {
  padding: 2px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.foot {
  padding: 15px;
}
.resume {
  float: right;
  position: relative;
  bottom: -40px;
  right: 18px;
  z-index: 99999;
}
.resume a {
  padding: 12px;
  outline: none;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  .about-us {
    height: 12%;
  }
  .skill-section .heading,
  .contact .heading {
    height: 12%;
  }
}
@media only screen and (min-width: 480px) {
  .about-us {
    height: 35%;
  }
  .skill-section .heading,
  .contact .heading {
    height: 35%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
